@import url('reset.css');

body {
    background-color: #ccc;
}

.flottaSzamla {
    margin: 0 auto;
    max-width: 600px;
}

.flottaSzamlaHeader {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 4px 4px 0 0 rgba(12, 12, 12, 0.4);
}

.flottaSzamlaManager {
    flex-grow: 0;
    flex-shrink: 0;
}

.flottaSzamlaOsszesito {
    flex-grow: 1;
    flex-shrink: 0;
}